<footer class="justify-self-end d-flex m-3">
    <div>
        <div>
            <h4>Cars on Cars (CoC)</h4>
            <p>This project was created as part of the Odin Project</p>
        </div>
        <p>&copy; Wasukira Ian - All Rights Reserved</p>
    </div>
</footer>