<footer class="justify-self-end d-flex">
    <div class="position-relative">
        <img src="/assets/valley.png" class="car-image footer-image"/>
        <div class="text-overlay-footer">
            <h4>Cars on Cars (CoC)</h4>
            <p>This project was created as part of the Odin Project</p>
            <p>&copy; Wasukira Ian - All Rights Reserved</p>
        </div>
    </div>
</footer>