<nav>
    <ul>
        <li><a href="/categories/addcategory">Add Category</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="/cars/addcar">Add Car</a></li>
    </ul>
</nav>


