@import url("/styles/index.css");

body{
    background-color: var(--body-color);
    color: var(--font-color);
}

.cars-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
    gap: 2rem;
    width: 80%;
}

.captialize{
    text-transform: capitalize;
}

#addcarform{
    min-width: 70%;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 767px) {
    .cars-display{
        display: flex;
        flex-direction: column;
    }

    #addcarform{
        max-width: 90%;
    }
}