@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');

:root{
    --body-color: #000;
    --font-color: #fff;
    --textarea-bg-clr: #242424;
    --input-bg-clr: #242424;
    --input-color: #fff;
    --nav-bar-color: #fff;
    --nav-bar-hover-color: #242424;
    --button-bg-color: #242424;
    --button-color: #fff;
}

body{
    background-color: var(--body-color);
    color: var(--font-color);
    font-family: "Inter", sans-serif;
}

textarea{
    background-color: var(--textarea-bg-clr);
    border: none;
    border-radius: 10px;
    color: var(--input-color);
}

input{
    background-color: var(--input-bg-clr);
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--input-color) ;
    border: none;
}

a{
    text-decoration: none;
}

li a{
    color: var(--nav-bar-color);
    padding: 0.6rem
}
li a:hover{
    background-color: var(--nav-bar-hover-color);
    border-radius: 15px;
    padding: 0.6rem;
}
button{
    background: var(--button-bg-color);
    color: var(--button-color);
    border: none;
    border-radius: 10px;
    padding: 0.3rem;
}

nav{
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}

.position-relative {
    position: relative;
}

.img-fluid {
    width: 100%; 
    height: auto;
    border-radius: 15px;
}

.text-overlay {
    position: absolute;
    top: 75%; 
    left: 40%; 
    transform: translate(-50%, 0);
    color: white; 
    text-align: start;
}
.text-overlay-urus{
    position: absolute;
    top: 5%; 
    left: 40%; 
    transform: translate(-50%, 0);
    color: white; 
    text-align: start;
}
.text-overlay-cars {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
}

.text-overlay-footer{
    position: absolute;
    top: 30%;
    right: 40%;
    padding: 1rem;
    color: white; 
}

.zoom-container{
    overflow: hidden;
}

.zoom-image{
    transition: transform 0.5s ease;
    width: 100%;
    height: auto;
}
.zoom-image:hover{
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 15px;
}

.landing-image{
    height: 100vh;
    margin-top: -56px;
    object-fit: cover;
    width: 100%;
}

.footer-image{
    width: 100%; 
    height: 50vh;
    opacity: 0.8;
}

.landing-text{
    font-weight: 200;
    font-size: 4rem;
}

.animated-float {
    animation: float-in 1.5s ease-out forwards;
}

@keyframes float-in {
    0% {
        transform: translate(-50%, -50%) translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }
}

.car-section {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 50px 0;
}

.car-image {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.info-text {
    position: relative;
    top: -400px;
    margin: 0 auto;
    max-width: 600px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease-out;
}

.info-text h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.info-text p {
    font-size: 1.2em;
    line-height: 1.5em;
}

@keyframes slide-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.scroll-animate {
    animation: slide-up 1s ease-out forwards;
}

.margin-top-5{
margin-top: 5rem;
}
#navone{
    display: block;
}
#navtwo{
    display: none;
}
/* Mobile Responsiveness */
@media only screen and (max-width: 767px) {
    @keyframes slide-up {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }
        100% {
            transform: translateY(400px);
            opacity: 1;
        }
    }
    .scroll-animate {
        animation: slide-up 4s ease-out forwards;
    }
    .text-overlay-urus{
        position: absolute;
        top: 0%; 
    }
    
    #navone{
        display: none;
    }

    #navtwo{
        display: block;
    }
    .bi{
        font-size: 20px !important;
    }
}